DISCORD_TOKEN=

APMEKEN_AMETHYST_ROLE_ID=
SCABARITE_CRYSTAL_ROLE_ID=
MENAPHITE_GIFTS_ROLE_ID=
WILDERNESS_FLASH_EVENT_SPECIAL_ROLE_ID=
GUTHIXIAN_CACHE_ROLE_ID=
SNOWVERLOAD_ROLE_ID=

NOTIFICATIONS_CHANNEL_ID=

SENTRY_DATA_SOURCE_NAME=
